        

<article class="post">
    <div class="title">
        <a href="{{url}}" target="_blank">{{title}}</a>
        <br>
        <a href="/post/{{id}}">
        <span>{{snippetHelper post_body 170}}</span>
        </a>
    </div>
    <br>
    <div class="meta">
        {{other}} point(s) 777 by {{user.username}} on
        {{dateHelper created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
    </div>
    <br>
    <br>

</article>
